<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Library of Queensland video details - {{ video.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <header>
        <a href="https://www.slq.qld.gov.au" class="slq-title">State Library of Queensland</a>
    </header>

    <div class="container">
        <video
            id="video-{{ video._id }}"
            src="{{ video._source.web_resource }}"
            poster="{{ video._source.snapshot }}"
            controls
            width="100%"
            preload="none"
            class="video-detail"
            webkit-playsinline
            playsinline
        >
        </video>
        <div class="video">
            <a name="top"></a>
            <h2>{{ video._source.title }}</h2>
            <dl class="metadata">
                <dt>Duration</dt>
                <dd>{{ video._source.master_metadata.duration_hms }}</dd>
                <dt>Metadata</dt>
                <dd>{{ video._source.master_metadata.width }} x {{ video._source.master_metadata.height }} @ {{ video._source.master_metadata.video_frame_rate }} fps</dd>
                {% if export_json %}
                <dt>JSON</dt>
                <dd><a href="/static/json/{{ video._source.title }}.json">{{ video._source.title }}.json</a></dd>
                {% endif %}
            </dl>
            <h3><a href="#transcriptions">Audio transcriptions</a>, <a href="#descriptions">audio descriptions</a>, <a href="#image-captions">image captions</a>, objects (<a href="#image-objects-vit">complex</a>, <a href="#image-objects-yolo">simple</a>), <a href="#actions">actions</a></h3>
            <h3>Tags</h3>
            <p>
                {{ video._source.tags|tags_to_string or "No audio transcription tags" }}
            </p>
            <a name="transcriptions"></a>
            <h3>Audio transcriptions</h3>
            <dl class="segments">
            {% if video._source.transcription != None %}
                {% for segment in video._source.transcription.segments %}
                <div class="segment">
                    {% if query|lower in segment.text|lower %}
                    <dt>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.start|int }})">
                            {{ segment.start|int|seconds_to_timecode }}
                        </a>
                    </dt>
                    <dd>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.start|int }})">
                            {{ segment.text }} ({{ segment.avg_logprob|average_log_probability_to_percentage }}%)
                        </a>
                    </dd>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <div class="segment">No audio transcriptions</div>
            {% endif %}
            </dl>
            <a name="descriptions"></a>
            <h3>Audio descriptions (<a href="#top">top</a>)</h3>
            <dl class="segments">
            {% if video._source.classification != None and video._source.classification.captions.clap %}
                {% for segment in video._source.classification.captions.clap %}
                <div class="segment">
                    {% if query|lower in segment.predictions.0.prediction|lower %}
                    <dt>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.timestamp|int|seconds_to_timecode }}
                        </a>
                    </dt>
                    <dd>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.predictions.0.prediction }}
                        </a>
                    </dd>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <div class="segment">No audio descriptions</div>
            {% endif %}
            </dl>
            <a name="image-captions"></a>
            <h3>Image captions (<a href="#top">top</a>)</h3>
            <dl class="segments">
            {% if video._source.classification != None and video._source.classification.captions.huggingface %}
                {% for segment in video._source.classification.captions.huggingface %}
                <div class="segment">
                    {% if query|lower in segment.predictions.0.prediction|lower %}
                    <dt>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.timestamp|int|seconds_to_timecode }}
                        </a>
                    </dt>
                    <dd>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.predictions.0.prediction }}
                        </a>
                    </dd>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
                <div class="segment">No image captions</div>
            {% endif %}
            </dl>
            <a name="image-objects-vit"></a>
            <h3>Image objects using a vision transformer (<a href="#top">top</a>)</h3>
            <dl class="segments">
            {% if video._source.classification != None and video._source.classification.objects.huggingface %}
                {% for segment in video._source.classification.objects.huggingface %}
                <div class="segment">
                    <dt>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.timestamp|int|seconds_to_timecode }}
                        </a>
                    </dt>
                    <dd>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.predictions.0.prediction }} ({{ segment.predictions.0.confidence|float_to_percentage }}%)
                        </a>
                    </dd>
                </div>
                {% endfor %}
            {% else %}
                <div class="segment">No image objects</div>
            {% endif %}
            </dl>
            <a name="image-objects-yolo"></a>
            <h3>Image objects using YOLO classification (<a href="#top">top</a>)</h3>
            <dl class="segments">
            {% if video._source.classification != None and video._source.classification.objects.yolo %}
                {% for segment in video._source.classification.objects.yolo if segment.predictions %}
                <div class="segment">
                    <dt>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.timestamp|int|seconds_to_timecode }}
                        </a>
                    </dt>
                    <dd>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.predictions.0.prediction }} ({{ segment.predictions.0.confidence|float_to_percentage }}%)
                        </a>
                    </dd>
                </div>
                {% endfor %}
            {% else %}
                <div class="segment">No image objects</div>
            {% endif %}
            </dl>
            <a name="actions"></a>
            <h3>Actions (<a href="#top">top</a>)</h3>
            <dl class="segments">
            {% if video._source.classification != None and video._source.classification.actions %}
                {% for segment in video._source.classification.actions if segment.predictions %}
                <div class="segment">
                    <dt>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.timestamp|int|seconds_to_timecode }}
                        </a>
                    </dt>
                    <dd>
                        <a href="#a" onclick="setPlaybackTime({{ video._id }}, {{ segment.timestamp|int }})">
                            {{ segment.predictions.0.prediction }} ({{ segment.predictions.0.confidence|float_to_percentage }}%)
                        </a>
                    </dd>
                </div>
                {% endfor %}
            {% else %}
                <div class="segment">No image objects</div>
            {% endif %}

            <footer>
                <a href="https://www.acmi.net.au"><img src="{{ url_for('static', filename='images/acmi-logo.svg') }}" alt="ACMI - Australian Centre for the Moving Image" title="ACMI - Australian Centre for the Moving Image"></a>
                <a href="https://www.slq.qld.gov.au"><img src="{{ url_for('static', filename='images/slq-and-qld-logo.svg') }}" alt="State Library of Queensland" title="State Library of Queensland"></a>
            </footer>
        </div>
    </div>

</body>
</html>
