<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACMI Video search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
    <h1><a href="/">Video search</a></h1>

    <form action="/" method="get">
        <input name="query" type="text" placeholder="Search terms" value="{% if query%}{{ query }}{% else %}{% endif %}" autofocus>
        <select name="searchType" id="searchType" onchange="this.form.submit()">
            <option value="audio" {% if search_type == "audio" %}selected{% endif %}>Audio transcription</option>
            <option value="audioDescription" {% if search_type == "audioDescription" %}selected{% endif %}>Audio description</option>
            <option value="image" {% if search_type == "image" %}selected{% endif %}>Image frame content</option>
        </select>
    </form>

    {% if query and results %}
        <h3>Results: {{ results.hits.total.value }}</h3>
        {% if results.hits.total.value > size %}
        <p>
            {% if page > 1 %}<a href="/?query={{ request.args.query }}&searchType={{ request.args.searchType }}&size={{ size }}&page={{ page - 1 }}">Previous</a>{% endif %}
            {% if page > 1 %}- page {{ page }} -{% endif %}
            {% if page < (results.hits.total.value / size) %}<a href="/?query={{ request.args.query }}&searchType={{ request.args.searchType }}&size={{ size }}&page={{ page + 1 }}">Next</a>{% endif %}
        </p>
        {% endif %}
        <div class="container">
        {% for result in results.hits.hits %}
            <div class="result">
                <video
                    id="video-{{ result._id }}"
                    src="{{ result._source.web_resource }}"
                    poster="{{ result._source.snapshot }}"
                    controls
                    width="100%"
                    preload="none"
                >
                </video>
                <h3><a href="/videos/{{ result._source.id }}/">{{ result._source.title }}</a></h3>
                <p><strong>Segments</strong>: </p>
                {% if search_type == "audio" %}
                <dl class="segments">
                    {% for segment in result._source.transcription.segments %}
                    <div class="segment">
                        {% if query|lower in segment.text|lower %}
                        <dt>
                            <a href="#a" onclick="setPlaybackTime({{ result._id }}, {{ segment.start|int }})">
                                {{ segment.start|int|seconds_to_timecode }}
                            </a>
                        </dt>
                        <dd>
                            <a href="#a" onclick="setPlaybackTime({{ result._id }}, {{ segment.start|int }})">
                                {{ segment.text }}
                            </a>
                        </dd>
                        {% endif %}
                    </div>
                    {% endfor %}
                </dl>
                {% elif search_type == "audioDescription" %}
                <dl class="segments">
                    {% for segment in result._source.classification.captions.clap %}
                    <div class="segment">
                        {% if query|lower in segment.predictions.0.prediction|lower %}
                        <dt>
                            <a href="#a" onclick="setPlaybackTime({{ result._id }}, {{ segment.timestamp|int }})">
                                {{ segment.timestamp|int|seconds_to_timecode }}
                            </a>
                        </dt>
                        <dd>
                            <a href="#a" onclick="setPlaybackTime({{ result._id }}, {{ segment.timestamp|int }})">
                                {{ segment.predictions.0.prediction }}
                            </a>
                        </dd>
                        {% endif %}
                    </div>
                    {% endfor %}
                </dl>
                {% else %}
                <dl class="segments">
                    {% for segment in result._source.classification.captions.huggingface %}
                    <div class="segment">
                        {% if query|lower in segment.predictions.0.prediction|lower %}
                        <dt>
                            <a href="#a" onclick="setPlaybackTime({{ result._id }}, {{ segment.timestamp|int }})">
                                {{ segment.timestamp|int|seconds_to_timecode }}
                            </a>
                        </dt>
                        <dd>
                            <a href="#a" onclick="setPlaybackTime({{ result._id }}, {{ segment.timestamp|int }})">
                                {{ segment.predictions.0.prediction }}
                            </a>
                        </dd>
                        {% endif %}
                    </div>
                    {% endfor %}
                </dl>
                {% endif %}
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% if errors %}
        <h3>Error</h3>
        <p>Have you indexed any videos?</p>
        <p>{{ errors }}</p>
    {% endif %}

</body>
</html>
