<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generating a Supercut</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            let source;
            function connect() {
                source = new EventSource('/supercut_progress/{{ task_id }}');
                source.onmessage = function(event) {
                    if (event.data.startsWith('completed')) {
                        var filename = event.data.split(' ')[1];
                        document.getElementById('progress').innerText = 'Supercut generated!';
                        document.getElementById('supercut').src = '/static/videos/' + filename;
                        document.getElementById('supercut').poster = '/static/videos/' + filename.replace('.mp4', '.jpg');
                        document.getElementById('supercut').style.display = 'block';
                        source.close();
                    } else if (event.data === 'no_clips') {
                        document.getElementById('progress').innerText = 'No matching clips found.';
                        source.close();
                    } else if (event.data.includes('saving')) {
                        document.getElementById('progress').innerText = 'Saving your supercut... (this step takes a while)';
                    } else {
                        var progress = parseInt(event.data);
                        document.getElementById('progress').innerText = 'Progress: ' + progress + '%';
                    }
                };
                source.onerror = function(event) {
                    if (source.readyState === EventSource.CLOSED) {
                        setTimeout(connect, 2000);
                    }
                };
            }
            connect();
        });
    </script>
</head>
<body>
    <header>
        <h1><a href="/">Video search</a></h1>
    </header>
    <h2>Generating a Supercut for "{{ query }}"</h2>
    <p id="progress">Progress: 0%</p>
    <video id="supercut" controls width="100%" style="display:none;" preload="none" webkit-playsinline playsinline></video>
    <ol class="supercut-credits">
        {% for result in results.hits.hits %}
            {% for segment in result._source.transcription.segments if query|lower in segment.text|lower %}
                <li data-duration="{{ segment|duration }}">
                    {% if result._source.works|length > 0 %}
                        <a href="https://www.acmi.net.au/works/{{ result._source.works.0.id }}--{{ result._source.works.0.slug }}/" target="_blank">{{ result._source.works.0.title }}</a>
                    {% else %}
                        Untitled
                    {% endif %}
                    <br />{{ segment.start|int|seconds_to_timecode }} - {{ segment.end|int|seconds_to_timecode }}
                </li>
            {% endfor %}
        {% endfor %}
    </ol>
    <footer>
        <a href="https://www.acmi.net.au"><img src="{{ url_for('static', filename='images/acmi-logo.svg') }}" alt="ACMI - Australian Centre for the Moving Image" title="ACMI - Australian Centre for the Moving Image"></a>
    </footer>
</body>
</html>
